################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/code.ips
/.vs
/OoT3D_Standalone_Free_Cam.elf
